html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.somelittlebox{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
}

.stats{
    text-align: center;
    font-weight: bold;
    box-shadow: 1px;
    width: 200px;
    height: 130px;
    border-radius: 5px;
    color: #f0f0f0;
    background-color: #323232;
}

.bigbox{
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-between;
}

.bigstats{
    text-align: center;
    font-weight: bold;
    width: 450px;
    height: 255px;
    border-radius: 5px;
    color: #f0f0f0;
    background-color: #323232;
}